<h1>Add a new student and courses</h1>
<form action="/student" method="post">
  <p>Student Name: <input type="text" name="student[name]"></p>
  <p>Student Grade: <input type="text" name="student[grade]"></p>
  <p>Course Name: <input type="text" name="student[courses][][name]"></p>
  <p>Course Topic: <input type="text" name="student[courses][][topic]"></p>
  <p>Course Name: <input type="text" name="student[courses][][name]"></p>
  <p>Course Topic: <input type="text" name="student[courses][][topic]"></p>
  <input type="submit">
</form>
